// Fibonacci numbers used as spacers
$f1: .1rem;
$f2: .2rem;
$f3: .3rem;
$f5: .5rem;
$f8: .8rem;
$f13: 1.3rem;
$f21: 2.1rem;
$f34: 3.4rem;
$f55: 5.5rem;
$f89: 8.9rem;
$f144: 14.4rem;
$f233: 23.3rem;

@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

