:root {
  // root colors
  --root-grey-500: #b0b0b0;
  --root-green-500: #006105;

  // Colors
  --black: #{hex-to-rgb(#000)};
  --white: #{hex-to-rgb(#fff)};
  --primary-grey: #{hex-to-rgb(#ebebeb)};
  --grey-500: #{hex-to-rgb(#b0b0b0)};
  --green-500: #{hex-to-rgb(#006105)};

  // Fonts
  --primary-font: Roboto, Arial, Helvetica, sans-serif;
  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-20: 2rem;

  // Font
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  // Icons
  --default-icon-height: 1rem;
  --default-icon-width: 1rem;

  // Global
  --one-rem-value: 10px;
}
